/* Light theme colors stored in variables to easily switch later, when making the color scheme for dark mode */
:root {
  --clr-primary-300: #f4e1d2;
  --clr-primary-400: #e0c4a8;
  --clr-accent-300: #ffba8f;
  --clr-accent-400: #c29166;
  --clr-neutral-300: #3a3a3a;
  --clr-neutral-400: #f5f5f5;
}

/* #region Reset */

/* // https://piccalil.li/blog/a-modern-css-reset -> But slightly modified */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
html, body {
  margin: 0;
  padding:0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* #endregion Reset */

/* #region Utility classes */

.spacer {
  margin-block:1em;
}

.spacer-2{
  margin-block:2em;
}
/* #endregion Utility classes */

/* #region toplink anchor tag */

a {
  text-decoration: none;
  color: var(--clr-neutral-300)
}
a[data="top-link"]{
  background-color: hsla(0, 0%, 25%, 0.283);
  position:fixed;
  bottom:1em;
  right:1em;
  z-index: 1000;
}
a[data="top-link"]{
  background-color: hsla(0, 0%, 65%, 0.208);
}

a[data="top-link"]>img {
  width:25px;
  height:auto;
  display:block;
}

/* #endregion toplink anchor tag */

body {
  /* Sets some basic styling rules that are the same in most places. Color of text doesn't change in this case(except for dark mode) */
  font-family: Arial, sans-serif;
  background-color: var(--clr-primary-300);
  color: var(--clr-neutral-300);
}

/* Size of the divs containing the images, so this element decides the size of the images */
.logo-container {
  width: 80%;
  height: auto;
  margin:auto;
  padding:1em;
}

/* The images themselves, the class for the actual images, all of them */
.logo {
  width: 100%;
  height: auto;
  
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 1em .3em var(--clr-accent-300);
}

.body-flex-container {
  /* It's called flex, but I'm using grid xD, I can't be bothered to replace the name xD */
  /* For some reason, I can't make the grid 100% of the width, I don't know which element is making it overflow, creating a scrollbar */
  display: grid;
  grid-template-columns: 25% 72% ;
  gap: 1.5em;
  height: 100vh;

}

/* Container for the logo container and sidepanel. That's why Flexbox is used */

.header-container {
  /* To reverse the order of how the header or sidepanel are displayed */
  /* justify content right is to start expanding or shrinking from the top */
  display: flex;
  flex-direction: column-reverse;
  justify-content:right ;
  background-color: var(--clr-primary-400);
  
}
navbar {
  /* To reverse the order that the images are displayed in */
  display: flex;
  flex-direction: column-reverse;
}

h1 {
  /* We're using the sidepanel to display this and the footer */
  display:none;
}

aside.side-panel {
  /* to add space to read the h2 and contact me on the side panel */
  text-align: center;
}

footer {
  display: none;
  background-color: var(--clr-primary-400);
  padding: 1rem;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.main-content {
  place-items: center;
}

.spacer .spacer-2 {
  display: none;
}

.card {
  background-color: var(--clr-accent-300);
  padding: 1em;
  margin:1em;
  border-radius: 2.5em;
  box-shadow: 0 0 1em .3em var(--clr-accent-300);
}

.logo-container:last-child{
  display:none;
}

/* Screens between 426px (26.5625em) and 769px (48.0625em) */
@media(max-width: 48.0625em) {
.body-flex-container {
  /* Change size of the grids, basically becomes block display, or flexwrap with every element taking up 100% anyway */
    grid-template-columns: 100%;
  }

  h1 {
    /* Basically the title of the page */
    display:block;
  }

  header {
    /* Rearranges the things in the header to be centered, and stacked, instead of being lined up side by side */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  navbar{
    /* Prevents the 2 images from being stacked, and places them horizontally */
    display: flex;
    flex-direction: row;
  }

  .side-panel {
    /* Hide side panel */
    display: none;
  }
  
  .logo {
    /* Limit picture size for better display at tablet sizes */
    max-width: 15em;
  }
  
  .card {
    width: 75%;
    text-align: center;
  }

  footer{
    /* Footer and sidepanel have overlapping, content, with sidepanel gone, the footer needs to be reactivated */
    display:block;
  }
}

/* Screens smaller than 426px (26.5625em) */
@media (max-width: 26.5625em) {
  html, body {
    display:block;
  }
  
  .logo-container:nth-child(2), .logo-container:first-child{
    display:none;
  }
  
  .logo-container:last-child {
    display:block;
  }
  
  .card {
    width: 95%; /* Full width cards with margins */
    text-align: left;
  }
}

/* Notes:
- --clr-primary-300: background-color for body
- --clr-primary-400: background-color for header and footer
- --clr-neutral-300: text color for body and header
- --clr-accent-300: not used yet
- --clr-accent-400: not used yet



/* #region Prefers Dark Mode Colors */
/* Dark theme colors */
 /* @media (prefers-color-scheme: dark) {
:root {
    --clr-primary-300: #2c3e50;
    --clr-primary-400: #34495e;
    --clr-accent-300: #ff8c42;
    --clr-accent-400: #e67e22;
    --clr-neutral-300: #ecf0f1;
    --clr-neutral-400: #bdc3c7;
  }
} */
/* #endregion Prefers Dark Mode */

/* #region Circular CSS Animation */

li.social-list-item {
  display: inline-block;
  margin: 0 0.5rem;
}

li.social-list-item>a {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  aspect-ratio: 1;
  font-size: 1.5rem;
  color:#7a7a7a;
  background-color: var(--clr-primary-400);
  border-radius: 50%;
  transition: color 0.5s ease-in-out;
}

li.social-list-item>a::after {
  position: absolute;
  z-index: -1;
  content:'';
  inset: -3px;
  border-radius: inherit;

  /* background: conic-gradient
  (
    #ff0000 0 60deg,
    #ff7f00 60deg 120deg,
    #ffff00 120deg 180deg,
    #00ff00 180deg 240deg,
    #0000ff 240deg 300deg,
    #4b0082 300deg 360deg
  ); */

  background: conic-gradient(greenyellow 100%, transparent 100%);
}

@property --fill {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}

li.social-list-item>a:hover {
  color: greenyellow;
  --fill: 100%;
}

li.social-list-item>a::after{
  position:absolute;
  z-index: -1;
  content: '';
  inset: -3px;
  border-radius: inherit;

  background: conic-gradient(
    greenyellow var(--fill),
    transparent var(--fill));
}

/* #endregion Circular CSS Animation */